.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 20px;
    bottom: 25px;
    position: absolute;
    position: sticky;
    width: 50px;
    border-radius:50px;

    &__list {
        display: flex;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            flex-direction: column;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 0;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #2c3e50;
                    text-decoration: none;
                    padding: 5px;
                    border-radius: 20px;
                    border: 1px solid #2c3e50;
                }

                :hover {
                    background: #2c3e50;
                    color: white;
                }
            }
        }
    }
}