.navbar {
    height: 60px;
    padding: 0 20px;
    background-color: rgba($color: #2c3e50, $alpha: 0.2);
    width: 100%;
    z-index: 100;
    
    &__nav{
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #2c3e50;
        a {
            text-decoration: none;
            color: #2c3e50;
            
        }
        &__name {
            font-size: 24px;
            :hover {
                color: rgba($color: #2c3e50, $alpha: 0.8);
            }
        }
        &__list {
            ul {
                display: flex;
                align-items: center;
                list-style: none;
                li {
                    margin-right: 50px;
                    font-size: 18px;
                    font-weight: 600;
                    :hover {
                        color: rgba($color: #2c3e50, $alpha: 0.8);
                    }
                }
            }
        }
    }
    
    
}